table.table-style {
    border: 1px solid #76A42D;
    background-color: #2ab857;
    width: 500px;
    text-align: left;
  }
  table.table-style td, table.table-style th {
    border: 2px solid #000000;
    padding: 3px 1px;
  }
  table.table-style tbody td {
    font-size: 13px;
    font-weight: bold;
  }
  table.table-style tr:nth-child(even) {
    background: #85F563;
  }
  table.table-style thead {
    background: #10350B;
    background: -moz-linear-gradient(top, #4c6748 0%, #284923 66%, #10350B 100%);
    background: -webkit-linear-gradient(top, #4c6748 0%, #284923 66%, #10350B 100%);
    background: linear-gradient(to bottom, #4c6748 0%, #284923 66%, #10350B 100%);
    border-bottom: 2px solid #444444;
  }
  table.table-style thead th {
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.table-style thead th:first-child {
    border-left: none;
  }
  
  table.table-style tfoot td {
    font-size: 14px;
  }
  table.table-style tfoot .links {
    text-align: right;
  }
  table.table-style tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }