table.table-style {
  border: 3px solid #000000;
  width: 50%;
  text-align: center;
  border-collapse: collapse;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
table.table-style td, table.table-style th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.table-style tbody td {
  font-size: 13px;
}
table.table-style thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.table-style thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  background-color: rgb(85, 119, 35);
}
table.table-style tfoot td {
  font-size: 14px;
}

.locate-left{
  text-align: left;
}

.locate-right{
  text-align: right;
}

.red-letter{
color: red;
}

.white-bg{
background-color: rgb(255, 255, 255);
}

  body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }